/* MAP AND HTML STYLING */
html, body{
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#map{
    height: 100%;
    width: 100%;
}

/* ADDRESS_CONTAINER STYLING */
#address_container{
    position: absolute;
    right: 0;
    z-index: 1000;
    width: auto;
    height: auto;
    background-color: white;
}

#address_form{
    text-align: right;
    border-style: solid;
    
}

#company{
    width: 90%;
    border-style: solid;
    margin-right: 5%;
    margin-top: 5%;
}

#address{
    width: 90%;
    border-style: solid;
    margin-right: 5%;
    margin-top: 5%;
}

#post{
    width: 34%;
    border-style: solid;
    margin-top: 5%;
}

#city{
    width: 54%;
    border-style: solid;
    margin-right: 5%;
    margin-top: 5%;
}

#submit{
    width: 30%;
    border-color: black;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}